= simple_form_for @score_result do |f|
  = box Score::Result.model_name.human do |box|
    = f.error_notification
    - if @series_form
      = f.association :series_team_assessment, collection: @score_result.possible_team_assessments
      = f.association :series_person_assessment, collection: @score_result.possible_person_assessments
    - else
      = f.input :name
      = f.input :date, as: :string
      = f.association :assessment
      = f.input :group_assessment, as: :boolean
      = render 'tag_form', f: f
    - box.footer do
      = cancel_link
      = f.primary_button :submit, "Speichern"
