%table.table.table-bordered
  %tr
    - if places
      %th
    - if @discipline.single_discipline_or_double_event?
      - if Competition.one.show_bib_numbers?
        %th Nr.
      %th Nachname
      %th Vorname
    %th Mannschaft
    - if @score_result.is_a? Score::DoubleEventResult
      %th Summe
      - @score_result.results.each do |result|
        %th= discipline_image result.assessment.discipline.decorate
    - else
      %th Bestzeit
      - @score_result.lists.each do |list|
        %td= list.object.shortcut


  - rows.each do |row|
    %tr
      - if places
        %td= "#{place_for_row row}."
      - if @discipline.single_discipline_or_double_event?
        - if Competition.one.show_bib_numbers?
          %td= row.entity.try(:bib_number)
        %td= row.entity.try(:last_name)
        %td= row.entity.try(:first_name)
        %td= row.entity.try(:team).try(:numbered_shortcut_name)
      - else
        %th= row.entity
      - if row.is_a?(Score::DoubleEventResultRow)
        %th= row.sum_result_entry
        - @score_result.results.each do |result|
          %td= row.result_entry_from(result)
      - else
        %th= row.best_result_entry
        - @score_result.lists.each do |list|
          %td= row.result_entry_from(list)