.row
  .col-md-12
    = box Team.model_name.human(count: 0) do |box|
      - if admin_logged_in?
        - box.header do
          .pull-right
            = link_to "Hinzufügen", { action: :new }, class: "btn btn-sm btn-info"
          .clearfix

        - if @without_statistics_id.present?
          .alert.alert-danger
            = "Es konnten zu #{@without_statistics_id.count} Mannschaften keine Serien-Ergebnisse gefunden wurden."
            = btn_link_to "Probleme ansehen", without_statistics_id_teams_path

      %h4 Frauen
      = render "index_table", collection: @teams.select { |t| t.gender == "female" }
      %h4 Männer
      = render "index_table", collection: @teams.select { |t| t.gender == "male" }
      
      - box.footer do
        = btn_link_to "als PDF", format: :pdf
        = btn_link_to "als XLS", format: :xlsx
        - if admin_logged_in?
          = link_to "Hinzufügen", { action: :new }, class: "btn btn-sm btn-info"
