.row
  .col-md-12
    = simple_form_for @score_run, url: score_list_run_path  do |f|
      = box @score_run.to_s do |box|
        %table.table
          %tr
            %th= "Bahn"
            - if single_discipline?
              %th= "Vorname"
              %th= "Nachname"
            %th= "Mannschaft"
            %th= "Zeit"
          - @score_run.list_entries.each do |entry|
            %tr
              %td= entry.track
              - if single_discipline?
                %td= entry.entity.first_name.truncate(20)
                %td= entry.entity.last_name.truncate(20)
                %td= entry.entity.team.try :shortcut_name
              - else
                %td
                  = entry.try(:entity).try(:decorate)
                  - if multiple_assessments?
                    %br
                    .tiny= entry.try(:assessment).try(:decorate)
              = render 'edit_time', entry: entry, f: f, fields_for: :list_entries
        - box.footer do
          = cancel_link(@score_run.list)
          = f.primary_button :submit, "Speichern"
.row
  .col-md-6
    = box("Hinweise") do
      %p Haben alle Zeiten in einer Wertungsliste eine elektronische Zeit, wird diese für alle Teilnehmer genommen.