.row
  .col-md-8
    = box "Wertungsgruppen von #{@discipline}" do |box|
      - if @discipline.assessments.count == 0
        .alert.alert-info Keine Einträge gefunden
      - else
        %table.table
          - @discipline.assessments.each do |assessment|
            %tr
              %td= assessment
              %td.text-right
                = btn_link_to "Ansehen", assessment


  .col-md-4
    = box("Aktionen") do
      - if @discipline.destroy_possible?
        = block_link_to 'Löschen', { action: :destroy }, method: :delete, data: { confirm: 'Disziplin wirklich löschen?' }
      - else
        .alert.alert-warning
          Diese Disziplin kann nicht gelöscht werden. Es sind Wertungsgruppen zugeordnet.
