.row
  .col-md-8
    = simple_form_for @certificates_list, url: url_for(action: :export, format: :pdf) do |f|
      = box "Urkunden" do |box|
        = f.input :template_id, as: :hidden
        = f.input :image, as: :hidden
        = f.input :score_result_id, as: :hidden
        = f.primary_button :submit, "PDF anzeigen"
