.row
  .col-md-12.refreshable#people-index
    = box Person.model_name.human count: 0 do |box|
      - if admin_logged_in?
        - box.header do
          .pull-right
            = link_to "Hinzufügen", new_person_path, class: "btn btn-sm btn-info", remote: true
          .clearfix
        
        - if @without_statistics_id.present?
          .alert.alert-danger
            = "Es konnten zu #{@without_statistics_id.count} Wettkämpfern keine D-Cup-Ergebnisse gefunden wurden."
            = btn_link_to "Probleme ansehen", without_statistics_id_people_path


      %h4 Frauen
      = render "index_table", collection: @female
      %h4 Männer
      = render "index_table", collection: @male

      - box.footer do
        = btn_link_to "als PDF", format: :pdf
        = btn_link_to "als XLS", format: :xlsx
        - if admin_logged_in?
          = link_to "Hinzufügen", { action: :new }, class: "btn btn-sm btn-info", remote: true
