.row
  .col-md-12
    = simple_form_for @score_list do |f|
      = box @score_list.name do |box|
        %table.table
          = render 'list_headline', times: true
          %tbody
            - score_list_entries do |entry, run, track|
              = render layout: 'list_entry', locals: { entry: entry, run: run, track: track } do
                = render 'score/runs/edit_time', entry: entry, f: f, fields_for: :entries
          - box.footer do
            = cancel_link
            = f.primary_button :submit, 'Speichern'
