.row.refreshable#score-list-show
  .col-md-8
    = box @score_list.name do |box|
      %table.table.sorted_table{ data: { track_count: list_track_count } }
        = render 'list_headline', times: false
        %tbody
          - score_list_entries(true) do |entry, run, track|
            = render 'list_entry', entry: entry, run: run, track: track
          %tr.hide.placeholder
            %td{ colspan: 5 }
              %span
      - box.footer do
        = simple_form_for @score_list, html: { class: "hide score_list_form" } do |f|
          = cancel_link
          = f.primary_button :submit, "Liste speichern"
        
  .col-md-4
    = box("Hinweise") do
      %p Einfach die Zeilen in die neue Position ziehen. Danach unter der Tabelle auf Speichern klicken.
  .col-md-4
    = box("Aktionen") do
      = block_link_to "Ansehen", { action: :show }
      = block_link_to "Bearbeiten", { action: :edit }
      = block_link_to "Excel-Liste", { action: :show, format: :xlsx }