.row.refreshable#score-list-show
  .col-md-9
    = box @score_list.name do |box|
      %table.table
        = render 'list_headline', times: true
        %tbody
          - score_list_entries do |entry, run, track|
            = render layout: 'list_entry', locals: { entry: entry, run: run, track: track } do |first|
              %td.time-col
                = entry.try(:human_time)
                - if logged_in? && can?(:edit_times, @score_list)
                  .pull-right
                    - if track == 1
                      = short_edit_link edit_score_list_run_path(@score_list, run: run), title: 'Zeiten bearbeiten', class: 'btn-xs'
                    - if entry.present?
                      = short_destroy_link destroy_entity_score_list_path(@score_list, entry_id: entry.id), title: 'Aus Liste entfernen', class: 'btn-xs', remote: true
      - box.footer do
        = btn_link_to 'als PDF', format: :pdf
        = btn_link_to 'als PDF mit vorgetäuschtem zweiten Lauf', format: :pdf, double_run: true
        = btn_link_to 'als PDF für Kampfrichter', format: :pdf, more_columns: true
        = btn_link_to 'als XLS', format: :xlsx

  .col-md-3
    - if logged_in?
      = box('Aktionen') do
        - if can?(:edit, @score_list)
          = block_link_to 'Reihenfolge bearbeiten', { action: :move }
        - if can?(:edit_times, @score_list)
          = block_link_to 'Zeiten im Block eintragen', { action: :edit_times }
        - if can?(:edit, @score_list)
          = block_link_to 'Teilnehmer hinzufügen', { action: :select_entity }, remote: true

      - if can?(:edit, @score_list)
        = box('Allgemein') do
          = block_link_to 'Bearbeiten', { action: :edit }
          = block_link_to 'Löschen', { action: :destroy }, method: :delete, data: { confirm: 'Startliste wirklich löschen? Alle bisher eingetragenen Zeiten dieser Liste gehen verloren!' }

      = box('Ausgabe') do
        = block_link_to('PDF (Drucken)', format: :pdf)
        = block_link_to('PDF für Kampfrichter', format: :pdf, more_columns: true)
        = block_link_to('XLS (Excel)', format: :xlsx)
