- if @certificates_template.font.present?
  = render 'font_style'
= simple_form_for @certificates_template do |f|
  = box @certificates_template.name do |box|
    = f.error_notification
    - if @text_position_form
      .row
        .col-md-10
          #certificates-template-position{ data: { font_family:  @certificates_template.font.present? ? "certificates_template_#{@certificates_template.id}" : "" } }
            = image_tag(asset_path('certificate_template_arrow.png'), id: "template-arrow")
            = image_tag(@certificates_template.image, id: "template-background")
        
        .col-md-2#position-buttons

      - @certificates_template.text_positions.each do |text_position|
        = f.simple_fields_for :text_positions, text_position do |tpf|
          .text-position-form{ data: { description: text_position.description, example: text_position.example } }
            = tpf.input :key, as: :hidden
            = tpf.input :top, as: :hidden
            = tpf.input :left, as: :hidden
            = tpf.input :align, as: :hidden
            = tpf.input :size, as: :hidden
            = tpf.input :id, as: :hidden
            = tpf.input :_destroy, as: :hidden, input_html: { value: tpf.object.persisted? ? 'false' : 'true' }
    - else
      = f.input :name
      = f.input :image
      - if f.object.image.present?
        = f.input :remove_image, as: :boolean, hint: "Zur Zeit: #{f.object.image.file.filename}"
      = f.input :font
      - if f.object.font.present?
        = f.input :remove_font, as: :boolean, hint: "Zur Zeit: #{f.object.font.file.filename}"
    - box.footer do
      = cancel_link
      = f.primary_button :submit, "Speichern"