.row
  .col-md-8
    = box Certificates::Template.model_name.human(count: 0) do |box|
      %table.table
        %tr
          %th Name
          %th
        - @certificates_templates.each do |template|
          %tr
            %td= template.name
            %td.text-right
              = btn_link_to "Ansehen", template
              = btn_link_to "Bearbeiten", { action: :edit, id: template }
      - box.footer do
        = btn_link_to "Hinzufügen", { action: :new }
  .col-md-4
    = box 'Erläuterung' do |box|
      %p Hier können Sie Vorlagen für Urkunden anlegen, die später mit den Ergebnislisten automatisch ausgefüllt werden.
      .alert.alert-danger Bitte beachten Sie, dass diese Funktionen nur mit Firefox und Chrome ausführlich getestet wurden.