@import bootstrap-sprockets
@import bootstrap
@import modal

.suggestions-entries
  overflow: auto
  height: 200px
  border: 1px solid #ccc
  margin-bottom: 10px
  .first_name, .last_name
    width: 33%
  .team
    width: 33%
    font-size: 10px
  tr
    cursor: pointer

.sorted_table tbody tr
  cursor: move

.sortable-placeholder
  span
    border: 1px dotted #ccc
    margin: 3px
    display: block
    height: 12px

.tiny
  font-size: 71%

.next-run
  border-bottom: 2px solid black

.table > tbody > tr > td.time-col
  border-top: 0

.time-types
  border-left: 1px solid #ccc
  input
    margin-right: 5px
  span
    display: block
    margin-left: 10px
    label
      font-size: 10px
      margin-bottom: 0
.time-entries
  label
    font-size: 10px
    font-weight: normal
  .form-group
    display: inline-block
    text-align: center
    margin-left: 6px
  input
    width: 90px
    padding: 6px 8px
  &.disabled
    opacity: 0.3

table.competition-results
  .sum-points
    text-align: center
    width: 70px
  th.assessment
    text-align: center
  td.time
    width: 66px
    text-align: center
  td.points
    width: 35px
    text-align: center

.panel-footer
  text-align: right

.box.modal-open.modal.in
  overflow-y: auto

#template-arrow
  position: absolute
  display: none

#certificates-template-position
  width: 595px
  height: 842px
  border: 3px black solid
  display: inline-block
  vertical-align: top
  position: relative

.text-element
  display: inline-block
  position: absolute
  cursor: move

  .text-line
    padding: 0
    margin: 0
    border: 1px dotted #CCCCCC
    width: 250px

#certificates-template-preview
  width: 100%
  height: 500px

#person_tags, #team_tags
  .destroy_link
    @extend .small
    margin-top: -10px